<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.led.led" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DeviceList"
            android:label="MeasureWire App" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ledControl"
            android:label="Categories" >
        </activity>
        <activity
            android:name=".Fashion"
            android:label="@string/title_activity_fashion" >
        </activity>
        <activity
            android:name=".MaleFashion"
            android:label="@string/title_activity_male_fashion" >
        </activity>
        <activity
            android:name=".FemaleFashion"
            android:label="@string/title_activity_female_fashion" >
        </activity>
        <activity
            android:name=".Shapes"
            android:label="@string/title_activity_shapes" >
        </activity>
        <activity
            android:name=".Cloth"
            android:label="@string/title_activity_cloth" >
        </activity>
        <activity
            android:name=".Custom"
            android:label="@string/title_activity_custom" >
        </activity>
        <activity
            android:name=".Quick"
            android:label="@string/title_activity_quick" >
        </activity>
    </application>

</manifest>
